{{ scripts }}
<script>
    /**
     * Calculates and displays the address details for given address
     * based on a free-form text
     *
     *
     * A full list of available request parameters can be found in the Geocoder API documentation.
     * see: http://developer.here.com/rest-apis/documentation/geocoder/topics/resource-geocode.html
     *
     * @param   {H.service.Platform} platform    A stub class to access HERE services
     */
    function geocode(platform) {
        var geocoder = platform.getSearchService(),
            geocodingParameters = {
                q: '{{ address }}'
            };

        geocoder.geocode(
            geocodingParameters,
            onSuccess,
            onError
        );
    }

    /**
     * This function will be called once the Geocoder REST API provides a response
     * @param  {Object} result          A JSONP object representing the  location(s) found.
     *
     * see: http://developer.here.com/rest-apis/documentation/geocoder/topics/resource-type-response-geocode.html
     */
    function onSuccess(result) {
        var locations = result.items;
        addLocationsToMap(locations);
    }

    /**
     * This function will be called if a communication error occurs during the JSON-P request
     * @param  {Object} error  The error message received.
     */
    function onError(error) {
        alert('Can\'t reach the remote server');
    }

    /**
     * Boilerplate map initialization code starts below:
     */

    var platform = new H.service.Platform({
        apikey: '{{ apiKey }}'
    });
    var defaultLayers = platform.createDefaultLayers();

    //Step 2: initialize a map - this map is centered over California
    var map = new H.Map(document.getElementById('{{ container }}'),
        defaultLayers.vector.normal.map,{
            center: {
                lat:37.376,
                lng:-122.034
            },
            zoom: {{ zoom }},
            pixelRatio: window.devicePixelRatio || 1
        });

    window.addEventListener('resize', () => map.getViewPort().resize());
    var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

    // Create the default UI components
    var ui = H.ui.UI.createDefault(map, defaultLayers);

    function addLocationsToMap(locations){
        for (i = 0;  i < locations.length; i += 1) {
            let location = locations[i];
            marker = new H.map.Marker(location.position);
            map.addObject(marker);
        }

        map.setCenter(locations[0].position);
    }

    geocode(platform);
</script>
